<div class="container">
  <table class="table table-striped">
    <tr>
      <td class="col-md-2"><%= @user.name %></td>
      <td class="col-md-10"><%= @user.email %></td>
    </tr>
  </table>






</div>