/* 自定義的CSS樣式 */

.restaurant-item {
  border: 1px solid grey;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item .caption {
  padding: 10px;
}

.restaurant-item .caption h3 {
  margin-top: 3px;
}

.restaurant-item .caption .category-label {
  margin-bottom: 10px;
}