<div class="container">

  <ul class="nav nav-pills nav-pills-center"><%# nav-pills-center為自訂css樣式 %>
    <li role="presentation"><%= link_to "全部餐廳", root_path %></li>
    <% @categories.each do |category| %>
      <li role="presentation" class="<%= "active" if category == @category %>">
        <%= link_to category.name, category_path(category) %>
      </li>
    <% end %>
  </ul>

  <br>

  <%# 與restaurants/index共用 %>
  <%= render partial: "shared/restaurant_list" %>

</div>